In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Logistic Regression #

In [ ]:
import warnings
warnings.filterwarnings('ignore') #ignoring some deprication warnings

In [20]:
# load dataset

data = pd.read_csv('customer_churn_dataset-testing-master.csv')

data.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1,22,Female,25,14,4,27,Basic,Monthly,598,9,1
1,2,41,Female,28,28,7,13,Standard,Monthly,584,20,0
2,3,47,Male,27,10,2,29,Premium,Annual,757,21,0
3,4,35,Male,9,12,5,17,Premium,Quarterly,232,18,0
4,5,53,Female,58,24,9,2,Standard,Annual,533,18,0

In [21]:
# print the shape of the dataset
data.shape

(64374, 12)

In [24]:
# check data for missing values
data.isnull().sum()

CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64

In [30]:
# remove non-numeric columns
data = data.select_dtypes(include=[np.number])

In [31]:
# feauture matrix and target vector
X = data.drop(columns=['Churn'])
y = data['Churn']

print(X.head())
print(y.head())

   CustomerID  Age  Tenure  Usage Frequency  Support Calls  Payment Delay  \
0           1   22      25               14              4             27
1           2   41      28               28              7             13
2           3   47      27               10              2             29
3           4   35       9               12              5             17
4           5   53      58               24              9              2

   Total Spend  Last Interaction
0          598                 9
1          584                20
2          757                21
3          232                18
4          533                18
0    1
1    0
2    0
3    0
4    0
Name: Churn, dtype: int64

In [ ]:
# import L